<div class="container">
    <div class="info-satu">
        <div class="box satu">
            <div class="content">
                <div class="content-left">
                    <div class="number">150</div>
                    <div>Orders</div>
                </div>
                <div class="content-right">
                    <div>
                        <mat-icon>shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
            <div class="content-info">
                <button mat-button>
                    More Info
                    <mat-icon>arrow_right</mat-icon>
                </button>
            </div>
        </div>
        <div class="box dua">
            <div class="content">
                <div class="content-left">
                    <div class="number">43</div>
                    <div>Buys</div>
                </div>
                <div class="content-right">
                    <div>
                        <mat-icon>local_mall</mat-icon>
                    </div>
                </div>
            </div>
            <div class="content-info">
                <button mat-button>
                    More Info
                    <mat-icon>arrow_right</mat-icon>
                </button>
            </div>
        </div>
        <div class="box tiga">
            <div class="content">
                <div class="content-left">
                    <div class="number">12</div>
                    <div>Notes</div>
                </div>
                <div class="content-right">
                    <div>
                        <mat-icon>note_alt</mat-icon>
                    </div>
                </div>
            </div>
            <div class="content-info">
                <button mat-button>
                    More Info
                    <mat-icon>arrow_right</mat-icon>
                </button>
            </div>
        </div>
        <div class="box empat">
            <div class="content">
                <div class="content-left">
                    <div class="number">4</div>
                    <div>Events</div>
                </div>
                <div class="content-right">
                    <div>
                        <mat-icon>event_note</mat-icon>
                    </div>
                </div>
            </div>
            <div class="content-info">
                <button mat-button>
                    More Info
                    <mat-icon>arrow_right</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="info-dua">tsa</div>
</div>