/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-modalbox {
    mat-dialog-container {
        padding: 0;
    }
}

.mat-cell.mat-cell.cdk-cell.cdk-column-id.mat-column-id.ng-star-inserted, 
.mat-header-cell.mat-sort-header.mat-header-cell.cdk-header-cell.ng-tns-c206-4.cdk-column-id.mat-column-id.ng-star-inserted,
.mat-cell.mat-cell.cdk-cell.cdk-column-actions.mat-column-actions.ng-star-inserted,
.mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-actions.mat-column-actions.ng-star-inserted
{
    padding-left: 0px;
    padding-right: 0px;
}


.hide{
    display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

/* filter controls */
.search-div{
    margin: 10px;
}
.search-form-field{
    width: 60%;
    margin-left: 10px;
    padding: 0px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    color: black;
}
.search-form-field div.mat-form-field-underline {
    display: none;
}
.search-form-field div.mat-form-field-infix{
    border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper{
padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button{
    height: 32px;
    width: 32px;
}